In [ ]:
# Exercise 1
# (c)

In [ ]:
# Exercise 2
# (d)

In [ ]:
# Exercise 3
# (c)

In [ ]:
# Exercise 4
# Regularization is a regression formula that pulls the esimates of the coefficiant towards zero. 
# It is useful for a machine learning model that lowers the chance of "over-fitting".

In [1]:
# Exercise 5
import boto3
import pandas as pd; pd.set_option('display.max_columns', 100)
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

s3 = boto3.resource('s3')
bucket_name = 'data-445-timlincoln'
bucket = s3.Bucket(bucket_name)

file_key = 'framingham.csv'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

# Reading the data-file
heart = pd.read_csv(file_content_stream)
heart.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [2]:
# Dropping N/A variables
heart = heart.dropna()

In [ ]:
# Defining the input and target
X = heart.drop(columns = ['TenYearCHD'], axis = 1)
Y = heart['TenYearCHD']

# Defining the folds
kf = KFold(n_splits = 5, shuffle = True)

# Defining the lists to store results
mse1 = list()
mse2 = list()

for train_idx, val_idx in kf.split(X):
    
    # Splitting the data
    X_train, X_val = X.iloc[train_idx], X.iloc[val_idx]
    Y_train, Y_val = Y.iloc[train_idx], Y.iloc[val_idx]
    
    ############
    # Model 1 ##
    ############
    
    X1 = X_train[['age', 'currentSmoker', 'totChol', 'sysBP', 'diaBP', 'BMI', 'heartRate', 'glucose']]
    X_val_1 = X_val[['age', 'currentSmoker', 'totChol', 'BMI', 'heartRate', 'glucose']]
    
    md1 = LinearRegression().fit(X1, Y_train)
    
    # Predicting on the validation set
    pred1 = md1.predict(X_val_1)
    
    # Storing the mse
    mse1.append(np.mean((Y_val - pred1)**2))
    
    ############
    # Model 2 ##
    ############
    
    X2 = X_train[['carwidth', 'carheight', 'horsepower', 'citympg', 'highwaympg']]
    X_val_2 = X_val[['carwidth', 'carheight', 'horsepower', 'citympg', 'highwaympg']]
    
    md2 = LinearRegression().fit(X2, Y_train)
    
    # Predicting on the validation set
    pred2 = md2.predict(X_val_2)
    
    # Storing the mse
    mse2.append(np.mean((Y_val - pred2)**2))